@charset "UTF-8";
/* 
#FFF
#efeeea
#1c273e
 */
.container {
  background-color: #efeeea;
}
.content {
  background-color: #fff;
}
body {
  color: #1c273e;
}
button a {
  color: #fff;
  text-decoration: none;
}
.mein {
  height: 750px;
  overflow: scroll;}
.mein img {
  width: 70px;
  height: 70px;
  object-fit: cover;
border-radius: 50px;
}
.mein a{
  color: #1c273e;
}
body {
  background:
  radial-gradient(black 3px, transparent 4px),
  radial-gradient(black 3px, transparent 4px),
  linear-gradient(#fff 4px, transparent 0),
  linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
  linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.item {
display: flex;
border: 3px solid #1c273e;
margin-bottom: 10px;
border-radius: 10px;
background-color: #fff;
}

.item-right {
max-width: 680px;
background-color: #fff;
}
.item-right p {
  word-wrap: break-word;
}

.rewite a {
  text-decoration: none;
  color:#fff
  ;
} 

.sub_mein {
}

.error {
  color: red;
}
.check img {
  width: 70px;
  height: 70px;
  object-fit: cover;
border-radius: 50px;
}

.content .login {
position: fixed;
top: 50px;
right: 120px;
}

.rewite_image {
  width: 70px;
  height: 70px;
  object-fit: cover;
border-radius: 50px;
}

.rewite .container{
  background-color: transparent!important;}
.rewite {
  background-color: transparent!important;}





  .c-modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .c-modal_bg {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%;
  }
  
  .c-modal_content {
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  
    
  }
  
  .c-modal_content_inner {
    position: relative;
    padding: 24px;
  }
  
  .c-modal_close {
    position: absolute;
    top: 13px;
    right: 10px;
  }

  .post textarea {
    border: 2px solid #1c273e;
    border-radius: 5px;
  }

 .item-right p .new {
    background-color: #1c273e;
    color: #fff;
    border-radius: 3px;
  }